<!--======================================================================-->
<!-- Hunter Ehrismann, Navodit Kaushal, Ali Khazaeli                      -->
<!-- Purpose: Home Template                                               -->
<!-- Date: 01 FEB 2020                                                    -->
<!--======================================================================-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
			<meta charset="utf-8"/>
			<title>Distracto</title>
			<link href="/~csci311g/bootstrap.min.css" rel="stylesheet"/>
			<link href="/~csci311g/site.css" rel="stylesheet"/>
	</head>
	
	<body>
		<!-- HEADER START -->
		<div class="header">
			<nav class="navbar navbar-expand-md navbar-dark bg-primary">
				<div class="container">
				  <a class="navbar-brand" href="/~csci311g">
					<img src="/~csci311g/logo.png" alt="Distracto" width="155" height="40"/>
				  </a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
					  <li class="nav-item">
						<a class="nav-link" href="/~csci311g">Home <span class="sr-only">(current)</span></a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="/~csci311g/Users">Users</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="/~csci311g/Games">Games</a>
					  </li>
					</ul>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item ">
							<a class="nav-link" href="/~csci311g/Account/Login">Login / Register</a>
					  </li>		        
					</ul>
				  </div>
			  </div>
			</nav>
		</div>
		<!-- HEADER END -->
	    <div class="container-fluid">
	    	<!--CONTENT STARTS HERE-->
			<div class="container r2d2-padding-fix">
				<h1>User</h1>
				<div class="row text-center">
					<div class="col-12">
						<img class="face profile" src="/~csci311g/profile.png" alt="Player">
					</div>
					<div class="col-12">
						<h2 >strAstudent</h2>
					</div>
					
				</div>
				<div class="row">
					<div class="col-12">
						<table class="table table-bordered table-sm mx-auto" style="width:50%;">
							<tr class="table-primary">
								<td  style="width:120px; text-align: right;">Win Rate</td>
								<td>1.000</td>
							</tr>
							<tr>
								<td style="width:120px; text-align: right;">Wins</td>
								<td>1</td>
							</tr>
							<tr>
								<td style="width:120px; text-align: right;">Ties</td>
								<td>0</td>
							</tr>
							<tr>
								<td style="width:120px; text-align: right;">Losses</td>
								<td>0</td>
							</tr>
							<tr class="table-secondary">
								<td style="width:120px; text-align: right;">Games Played</td>
								<td>1</td>
							</tr>
						</table>
					</div>
				</div>
	  			
			<!--CONTENT ENDS HERE-->
		</div>	
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a href="/~csci311g/Home/Team">Our Team</a>
						<a href="/~csci311g/Home/About">About Us</a>
						<a href="/~csci311g/Home/Contact">Contact</a>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						Copyright Team R2D2. All Rights Reserved
					</div>
				</div>
			</div>
		</footer>	
	</body>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!-- Stray script tag error is triggered by above in w3 validator. Do not know how to resolve. -->	
	<script src="/~csci311g/bootstrap.min.js"></script>
</html>
