@charset "UTF-8";

#wrapper{
  margin-left: 10%;
  max-width: 80%;
  
}
/* main navgation */
#nav {
 width: 80%;
 position: fixed;
 top: 0;
}
#mainContent{
	margin-top: 75px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;
  border: 1px solid #bfbfbf;
}

li {
  float: left;
}

li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #008cba;
  color: white;
}
.active {
  background-color: #008cba;
  color: white;
}
footer{
  text-align: center;
  width: 100%;

}

